<div class="d-flex flex-wrap gap-4">
  <app-prodotto-card></app-prodotto-card>
  <app-prodotto-card></app-prodotto-card>
  <app-prodotto-card></app-prodotto-card>
  <app-prodotto-card></app-prodotto-card>
  <app-prodotto-card></app-prodotto-card>
  <app-prodotto-card></app-prodotto-card>
  <app-prodotto-card></app-prodotto-card>
  <app-prodotto-card></app-prodotto-card>
  <app-prodotto-card></app-prodotto-card>
  <app-prodotto-card></app-prodotto-card>
  <app-prodotto-card></app-prodotto-card>
  <app-prodotto-card></app-prodotto-card>
</div>
