<!-- <app-header></app-header> -->
<div class="container">
  <app-title testo="Prodotti"></app-title>

  <app-lista-prodotti
    titolo="Novità"
    [prodotti]="prodotti_novita"
  ></app-lista-prodotti>

  <app-lista-prodotti
    titolo="Suggerimenti"
    [prodotti]="prodotti_suggerimenti"
  ></app-lista-prodotti>

  <app-title testo="Blog"></app-title>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, eligendi
    quam. Repellendus delectus iusto quia soluta! Repudiandae totam, laudantium
    magnam veniam itaque maxime quaerat. Error laborum quis eum nulla velit,
    dolore, perferendis unde ipsam vel odio, accusantium eligendi in
    reprehenderit! Atque modi eaque enim excepturi voluptas necessitatibus
    aliquid vitae impedit dolor? Quibusdam, consectetur ipsum eaque laborum quae
    natus, quaerat doloribus fugit modi, eligendi repellat placeat. Cumque omnis
    inventore iusto eos numquam provident praesentium autem earum ex quod
    explicabo reiciendis ea nesciunt sit ratione molestiae, unde aliquid.
    Temporibus minus fugit, voluptatibus, recusandae cum earum obcaecati rerum
    consectetur modi officia ab incidunt optio reiciendis ratione? Vero aliquam
    ad, sit sequi fugiat quas minus adipisci repellat totam ut vitae itaque
    quaerat nisi enim deleniti molestias animi cum, natus deserunt saepe! Animi
    culpa dolore, laboriosam eaque aperiam placeat fuga excepturi optio
    voluptates temporibus iusto delectus cum? Eum recusandae optio porro atque
    ab fugiat tempora amet sequi maiores voluptatum nisi aperiam quia voluptates
    aut hic sed illum, incidunt unde corrupti sit voluptatibus! Eius atque
    deleniti aliquid quia unde delectus facilis, in ipsa hic perferendis modi ad
    minima maiores neque nesciunt, ipsum quod mollitia numquam! Incidunt, rem
    maxime perferendis distinctio quam culpa pariatur! Eum, fugiat soluta!
  </p>
</div>

<app-footer></app-footer>

<router-outlet />
